@page
@model Lion.AbpPro.Pages.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>后台服务登录</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>  
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post">
                @Html.AntiForgeryToken()
                <span class="heading">后台服务登录</span>
                <div class="form-group">
                    <input type="text" class="form-control" name="userName" placeholder="用户名">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" name="password" placeholder="密码">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body> 
</html>
<style>
   .row {
       width: 800 px;
       height: auto;
       margin: auto;
       box-sizing: border-box;
       transform: translate(0, 50%);
     }
     .form-horizontal {
       background: #fff;
       padding-bottom: 40px;
       border-radius: 15px;
       text-align: center;
     }
     .form-horizontal .heading {
       display: block;
       font-size: 35px;
       font-weight: 700;
       padding: 35px 0;
       border-bottom: 1px solid #f0f0f0;
       margin-bottom: 30px;
     }
     .form-horizontal .form-group {
       padding: 0 40px;
       margin: 0 0 25px 0;
       position: relative;
     }
     .form-horizontal .form-control {
       background: #f0f0f0;
       border: none;
       border-radius: 20px;
       box-shadow: none;
       padding: 0 20px 0 45px;
       height: 40px;
       transition: all 0.3s ease 0s;
     }
     .form-horizontal .form-control:focus {
       background: #e0e0e0;
       box-shadow: none;
       outline: 0 none;
     }
     .form-horizontal .form-group i {
       position: absolute;
       top: 12px;
       left: 60px;
       font-size: 17px;
       color: #c8c8c8;
       transition: all 0.5s ease 0s;
     }
     .form-horizontal .form-control:focus + i {
       color: #00b4ef;
     }
     .form-horizontal .fa-question-circle {
       display: inline-block;
       position: absolute;
       top: 12px;
       right: 60px;
       font-size: 20px;
       color: #808080;
       transition: all 0.5s ease 0s;
     }
     .form-horizontal .fa-question-circle:hover {
       color: #000;
     }
     .form-horizontal .main-checkbox {
       float: left;
       width: 20px;
       height: 20px;
       background: #11a3fc;
       border-radius: 50%;
       position: relative;
       margin: 5px 0 0 5px;
       border: 1px solid #11a3fc;
     }
     .form-horizontal .main-checkbox label {
       width: 20px;
       height: 20px;
       position: absolute;
       top: 0;
       left: 0;
       cursor: pointer;
     }
     .form-horizontal .main-checkbox label:after {
       content: "";
       width: 10px;
       height: 5px;
       position: absolute;
       top: 5px;
       left: 4px;
       border: 3px solid #fff;
       border-top: none;
       border-right: none;
       background: transparent;
       opacity: 0;
       -webkit-transform: rotate(-45deg);
       transform: rotate(-45deg);
     }
     .form-horizontal .main-checkbox input[type="checkbox"] {
       visibility: hidden;
     }
     .form-horizontal .main-checkbox input[type="checkbox"]:checked + label:after {
       opacity: 1;
     }
     .form-horizontal .text {
       float: left;
       margin-left: 7px;
       line-height: 20px;
       padding-top: 5px;
       text-transform: capitalize;
     }
     .form-horizontal .btn {
       text-align: center;
       font-size: 14px;
       color: #fff;
       background: #00b4ef;
       border-radius: 30px;
       padding: 10px 25px;
       border: none;
       text-transform: capitalize;
       transition: all 0.5s ease 0s;
     }   
</style>