@page "/Account/LoggedOut"
@model Volo.Abp.Account.Web.Pages.Account.LoggedOutModel
@using Volo.Abp.Account.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewData["Title"] = "登出";
    Layout = null;
}

<head>
    <title>登出</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
</head>
<div>
    @if (Model.PostLogoutRedirectUri != null)
    {
        <a abp-button="Primary" id="redirectButton" href="@Model.PostLogoutRedirectUri" cname="@Model.ClientName">@L["ReturnToText"]</a>
    }
    @if (Model.SignOutIframeUrl != null)
    {
        <iframe class="signout logoutiframe" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
<script>
document.addEventListener('DOMContentLoaded', function (event) {
   
        window.clientName = document.getElementById("redirectButton").getAttribute("cname");
        window.location = document.getElementById('redirectButton').getAttribute('href');
   
});
</script>