@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Web.Pages.Account.LoginModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewData["Title"] = "登录";
    Layout = null;
}
<head>
    <title>统一身份认证中心</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link href="~/images/favicon.png" rel="icon" type="image/png">
    <link href="~/fonts/open_sans_3_4_6_7.css" rel="stylesheet">
    <link href="~/libs/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="~/libs/@@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
    <link type="text/css" href="~/css/argon.min.css" rel="stylesheet">
    <link type="text/css" href="~/css/site.css" rel="stylesheet">
    <script src="~/libs/jquery/jquery.js"></script>
</head>
<div class="main-content">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
            <a class="navbar-brand" href="/">
                <img src="~/images/favicon.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-4">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">统一身份认证中心</h1>
                        <p class="text-lead text-light">支持2种认证方式,邮箱密码验证或企业微信验证.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 斜线 -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2800 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2800 0 2800 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3">
                            <small>第三方登录</small>
                        </div>
                        <div class="btn-wrapper text-center">
                            <a href="#" class="btn btn-neutral btn-icon">
                                <span class="btn-inner--icon">
                                    <img src="~/images/icons/wechat.svg">
                                </span>
                                <span class="btn-inner--text">企业微信</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-lg-5">
                        <form method="post">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ni ni-email-83"></i>
                                        </span>
                                    </div>
                                    <input asp-for="ReturnUrl" />
                                    <input asp-for="ReturnUrlHash" />

                                    <input asp-for="LoginInput.UserNameOrEmailAddress" class="form-control" />
                                    <span asp-validation-for="LoginInput.UserNameOrEmailAddress" class="text-danger"></span>
                                </div>
                                <span class="invalid-feedback" style="display: block"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ni ni-lock-circle-open"></i>
                                        </span>
                                    </div>

                                    <input asp-for="LoginInput.Password" class="form-control" />
                                    <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                                </div>

                            </div>
                            
                            <div class="text-center">
                                <button class="btn btn-primary my-4" type="submit" data-toggle="tooltip" data-placement="top" name="Action"  value="Login">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
